{% extends 'base.html.twig' %}

{% block body %}
    <h1>JOC DE LES ADIVINALLES</h1>

    {% for quest in quests %}
        <h4>{{ quest.quest }}</h4>
        {% if quest.ans==1 %}
            <ul>
                <li class="correcta">{{ quest.ans1 }}</li>
                <li class="incorrecta">{{ quest.ans2 }}</li>
                <li class="incorrecta">{{ quest.ans3 }}</li>
                <li class="incorrecta">{{ quest.ans4 }}</li>
            </ul>
        {% elseif quest.ans==2 %}
            <ul>
                <li class="incorrecta">{{ quest.ans1 }}</li>
                <li class="correcta">{{ quest.ans2 }}</li>
                <li class="incorrecta">{{ quest.ans3 }}</li>
                <li class="incorrecta">{{ quest.ans4 }}</li>
            </ul>
        {% elseif quest.ans==3 %}
            <ul>
                <li class="incorrecta">{{ quest.ans1 }}</li>
                <li class="incorrecta">{{ quest.ans2 }}</li>
                <li class="correcta">{{ quest.ans3 }}</li>
                <li class="incorrecta">{{ quest.ans4 }}</li>
            </ul>
        {% elseif quest.ans==4 %}
            <ul>
                <li class="incorrecta">{{ quest.ans1 }}</li>
                <li class="incorrecta">{{ quest.ans2 }}</li>
                <li class="incorrecta">{{ quest.ans3 }}</li>
                <li class="correcta">{{ quest.ans4 }}</li>
            </ul>
        {% endif %}
    {% endfor %}

    <span class="limpiar">Limpiar</span>

    <script>

        $(".correcta").click(function(){
            $(this).css("background-color", "green");
        });

        $(".incorrecta").click(function(){
            $(this).css("background-color", "red");
        });

        $(".limpiar").click(function(){
            $(".correcta").css("background-color", "initial");
            $(".incorrecta").css("background-color", "initial");
        });

    </script>


{% endblock %}

{% block stylesheets %}
<style>

    li{
        list-style: none;
        cursor: pointer;
        user-select: none;
    }

    li:hover{
        background-color: #f5f5f5;
    }

    .limpiar{
        margin-top: 40px;
        margin-left: 16%;
        padding: 7px;
        padding-left: 12px;
        padding-right: 12px;
        border: 1px solid black;
        background-color: #e1e1e1;
        display: inline-block;
    }

</style>
{% endblock %}
